<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <profiles>
     	<profile>
			<id>Sandbox</id>
			<properties>
				<target>Cloudhub-US-East-2</target>
				<replicas>1</replicas>
				<region>us-east-1</region>
				<env>Sandbox</env>
				<app.name>sand-order-api-sapi</app.name>
				<vCores>0.1</vCores>
				<worker.type>MICRO</worker.type>
				<anypoint.client.id>854d84b311d841b29b67b47492c5cef4</anypoint.client.id>
				<anypoint.client.secret>a32ecC832dBB4EE686c1F65435e234E1</anypoint.client.secret>
			</properties>
		</profile>
  </profiles>

  <servers>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>f059d98e8d974517bfee1fc56d9b9364~?~c1efdD4cFf604a4d83CF86E904B99De4</password>
    </server>
  </servers>
</settings>
